# 1ì¼ì°¨

## 1. í•„ìš”í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬ ì„¤ì¹˜ ë° csv íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸°, ë°ì´í„° ì‚´í´ë³´ê¸°

In [2]:
import pandas as pd # pandasë¡œ numpyê¹Œì§€ ê°™ì´ ì„¤ì¹˜ëœë‹¤ê³  í•¨.
import numpy as np # numpy(ë³´í†µ í–‰ë ¬ê°™ì€ ì—°ì‚°ì— ë§ì´ ì“°ì„.)ë¥¼ ì“°ëŠ”ì§€ëŠ” ëª¨ë¥´ê² ì§€ë§Œ...


sales_data = pd.read_csv("./sales_data.csv") # csv íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸°. csv -> pandasì˜ dataframeìœ¼ë¡œ ìë£Œêµ¬ì¡° ë³€í™˜.

sales_data.head(5) # ìƒìœ„ 5ê°œì˜ ë°ì´í„°ë§Œ ë³´ì—¬ì£¼ê¸°

         date category product  quantity   price
0  2025-11-11       ì „ì     ë…¸íŠ¸ë¶         5  916120
1  2025-11-12       ë„ì„œ   ìê¸°ê³„ë°œì„œ         1   20843
2  2025-11-13       ë„ì„œ   ìê¸°ê³„ë°œì„œ        10   12099
3  2025-11-16       ë„ì„œ     ë§Œí™”ì±…        18   35655
4  2025-11-15       ì‹í’ˆ      ë¼ë©´         3   47165

In [3]:
sales_data.info() # sales_dataì˜ information(ì •ë³´) ë³´ì—¬ì¤Œ. ë°ì´í„° íƒ€ì…ì— ëŒ€í•œ ì •ë³´.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      100 non-null    object
 1   category  100 non-null    object
 2   product   100 non-null    object
 3   quantity  100 non-null    int64
 4   price     100 non-null    int64
dtypes: int64(2), object(3)
memory usage: 4.0+ KB

In [4]:
sales_data.describe() # describe: ë¬˜ì‚¬í•˜ë‹¤. ìˆ˜ì¹˜ì™€ ê´€ë ¨í•œ ì—´ì— ìˆëŠ” ë°ì´í„°ë“¤ì˜ ìˆ˜ì¹˜ ê´€ë ¨ ì§‘ê³„ê°’ì„ ì œê³µí•´ì¤Œ. í–‰ì˜ ê°¯ìˆ˜, í‰ê· , í‘œì¤€í¸ì°¨, min/max, 25%/50%/75%(ì „ì²´ ë°ì´í„°ë¥¼ ì •ë ¬í–ˆì„ ë•Œì˜)ìœ„ì¹˜ì˜ ê°’ì— ëŒ€í•œ ì •ë³´ë“¤.

         quantity         price
count  100.000000  1.000000e+02
mean    10.260000  3.790894e+05
std      5.493099  4.931877e+05
min      1.000000  3.299000e+03
25%      5.750000  3.549775e+04
50%     10.000000  1.210260e+05
75%     14.000000  7.038290e+05
max     20.000000  1.986021e+06

In [5]:
sales_data.isnull() # í•´ë‹¹ ë°ì´í„°í”„ë ˆì„ì— nullì´ ìˆëŠ”ì§€ë¥¼ true/false ê²°ê³¼ê°’ìœ¼ë¡œ ë°˜í™˜í•´ì¤Œ.(ë°ì´í„°í”„ë ˆì„ í˜•íƒœì—ì„œ)
sales_data.isnull().sum() # ìœ„ì˜ nullì„ sum(í•©ì¹¨)í•œ ê²ƒ.

date        0
category    0
product     0
quantity    0
price       0
dtype: int64

## 2. groupby ì§‘ê³„

In [6]:
sales_data['total_sales'] = sales_data['quantity'] * sales_data['price'] # ê³±ì…ˆì„ í†µí•´ ì´ë§¤ì¶œ('total_sales')ì„ ê³„ì‚°í•¨.
sales_data

          date category product  quantity   price  total_sales
0   2025-11-11       ì „ì     ë…¸íŠ¸ë¶         5  916120      4580600
1   2025-11-12       ë„ì„œ   ìê¸°ê³„ë°œì„œ         1   20843        20843
2   2025-11-13       ë„ì„œ   ìê¸°ê³„ë°œì„œ        10   12099       120990
3   2025-11-16       ë„ì„œ     ë§Œí™”ì±…        18   35655       641790
4   2025-11-15       ì‹í’ˆ      ë¼ë©´         3   47165       141495
..         ...      ...     ...       ...     ...          ...
95  2025-11-10       ì‹í’ˆ     ìŒë£Œìˆ˜         1   35026        35026
96  2025-11-15       ì˜ë¥˜      ëª¨ì         8   48359       386872
97  2025-11-10       ì „ì     í‚¤ë³´ë“œ        14  797484     11164776
98  2025-11-16       ì‹í’ˆ       ë¹µ        18   39939       718902
99  2025-11-13       ê°€êµ¬      ì±…ì¥         6  437497      2624982

[100 rows x 6 columns]

In [7]:
sales_data.groupby('category')['total_sales'].sum() # 'category'ì—´ë¡œ group by(ê·¸ë£¹í™”)ë¥¼ í•˜ê³ , 'total_sales' ì—´ì„ sum(í•©í•˜ë‹¤.)í•œë‹¤.

category
ê°€êµ¬    132194162
ë„ì„œ      4050471
ì‹í’ˆ      6186797
ì˜ë¥˜     16824032
ì „ì    293553437
Name: total_sales, dtype: int64

In [8]:
sales_data.groupby('category')['total_sales'].mean() # í‰ê·  ë‚´ê¸°. ë‹¤ë§Œ avg()ê°€ ì•„ë‹ˆë¼ mean()ìœ¼ë¡œ í•´ì•¼í•œë‹¤.

category
ê°€êµ¬    6.957587e+06
ë„ì„œ    2.025235e+05
ì‹í’ˆ    3.256209e+05
ì˜ë¥˜    9.346684e+05
ì „ì    1.223139e+07
Name: total_sales, dtype: float64

In [9]:
sales_data.groupby('category')['total_sales'].agg(['sum','mean']) # aggregate() í•¨ìˆ˜(ì§‘ê³„ í•¨ìˆ˜)ë¥¼ í†µí•´ í•œë²ˆì— ì§‘ê³„ë¥¼ í‘œí˜„í•¨.

                sum          mean
category
ê°€êµ¬        132194162  6.957587e+06
ë„ì„œ          4050471  2.025235e+05
ì‹í’ˆ          6186797  3.256209e+05
ì˜ë¥˜         16824032  9.346684e+05
ì „ì        293553437  1.223139e+07

## 3. datetime

In [10]:
sales_data['date'] # 'date' ì—´ì˜ ê¸°ë³¸ ìë£Œí˜•ì€ 'object'. 
# pandasì—ì„œ 'object'í˜•ì€, ì£¼ë¡œ 'ë¬¸ìì—´','ë¬¸ìì—´+ìˆ«ì','ë‚ ì§œê°€ ë¬¸ìì—´ë¡œ ì €ì¥ëœ ê²½ìš°','pandasê°€ íƒ€ì…ì„ ëª¨ë¥¼ ë•Œì˜ ê¸°ë³¸ ê°’'ì„ ì˜ë¯¸í•œë‹¤.

0     2025-11-11
1     2025-11-12
2     2025-11-13
3     2025-11-16
4     2025-11-15
         ...
95    2025-11-10
96    2025-11-15
97    2025-11-10
98    2025-11-16
99    2025-11-13
Name: date, Length: 100, dtype: object

In [11]:
sales_data['date'] = pd.to_datetime(sales_data['date']) # 'pd.to_datetime'ì„ í†µí•´ 'datetime'ìœ¼ë¡œ ìë£Œí˜• ë³€í™˜.
sales_data['date']

0    2025-11-11
1    2025-11-12
2    2025-11-13
3    2025-11-16
4    2025-11-15
        ...
95   2025-11-10
96   2025-11-15
97   2025-11-10
98   2025-11-16
99   2025-11-13
Name: date, Length: 100, dtype: datetime64[ns]

In [12]:
sales_data['date'].dt.day_name() # ìš”ì¼ ì¶”ì¶œ(ì¶œë ¥)

0       Tuesday
1     Wednesday
2      Thursday
3        Sunday
4      Saturday
        ...
95       Monday
96     Saturday
97       Monday
98       Sunday
99     Thursday
Name: date, Length: 100, dtype: object

In [13]:
sales_data['date'].dt.day_of_week # ëª‡ì§¸ ì£¼ì¸ì§€ ì•Œë ¤ì£¼ëŠ” ì½”ë“œ.
#sales_data['date'].dt.dayofweek # ë‘˜ ë‹¤ ë˜‘ê°™ì€ ê²°ê³¼ê°’ì´ ë‚˜ì˜¨ë‹¤.

0     1
1     2
2     3
3     6
4     5
     ..
95    0
96    5
97    0
98    6
99    3
Name: date, Length: 100, dtype: int32

In [14]:
sales_data_dayname = sales_data['date'].dt.day_name()
sales_data.groupby(sales_data_dayname)['total_sales'].sum() # ''ëŠ” ì¹¼ëŸ¼ëª…ì´ë¯€ë¡œ, ì—¬ê¸°ì„œëŠ” ë³€ìˆ˜ë¥¼ ê·¸ëŒ€ë¡œ ì „ë‹¬í•´ì•¼í•˜ë¯€ë¡œ, ''ì„ ë¹¼ê³  ë„£ëŠ”ë‹¤.
# ì¼ë³„ ì´ ë§¤ì¶œ ê³„ì‚° ì½”ë“œì´ë‹¤.

# sales_data.groupby(sales_data['date'].dt.day_name())['total_sales'].sum() # ë˜‘ê°™ì€ ê²°ê³¼ì´ë‹¤. ë‹¤ë§Œ í•œì¤„ë¡œ ì“´ ê²ƒì¼ ë¿.

date
Friday       82260486
Monday       97903729
Saturday     78730627
Sunday       24382976
Thursday     99813172
Tuesday      42508659
Wednesday    27209250
Name: total_sales, dtype: int64

In [15]:
sales_data.groupby(sales_data['date'].dt.day_name())['total_sales'].mean() # ìš”ì¼ ë³„ í‰ê·  ë§¤ì¶œ ê³„ì‚°.

date
Friday       6.327730e+06
Monday       4.256684e+06
Saturday     4.631213e+06
Sunday       1.875614e+06
Thursday     6.654211e+06
Tuesday      3.036333e+06
Wednesday    5.441850e+06
Name: total_sales, dtype: float64

## 4. pivot_table

ğŸ“Œ pivot_tableì´ë€?
->ë°ì´í„°ë¥¼ í–‰ê³¼ ì—´ë¡œ ì¬ë°°ì¹˜í•´ì„œ ì§‘ê³„í•˜ëŠ” ê¸°ëŠ¥.
->'group by'ì˜ ê³ ê¸‰ ë²„ì „.
->2ì°¨ì› í‘œ í˜•íƒœë¡œ ê²°ê³¼ë¥¼ ë³´ì—¬ì¤Œ.


ğŸ“Š ì˜ˆì‹œë¡œ ì´í•´í•˜ê¸°

ğŸ”¹ ì›ë³¸ ë°ì´í„°

| date       | category | total_sales |
| ---------- | -------- | ----------- |
| 2024-11-01 | ì „ì       | 1000        |
| 2024-11-01 | ì˜ë¥˜       | 500         |
| 2024-11-02 | ì „ì       | 800         |
| 2024-11-02 | ì˜ë¥˜       | 600         |


ğŸ”¹ 1) groupby ì‚¬ìš© (ì„¸ë¡œë¡œ ê¸¸ê²Œ ë‚˜ì—´ë¨)

sales_data.groupby(['date', 'category'])['total_sales'].sum()

### <ê²°ê³¼ â€” groupby ì¶œë ¥>

| date        | category | total_sales |
|-------------|----------|-------------|
| 2024-11-01  | ì „ì     | 1000        |
| 2024-11-01  | ì˜ë¥˜     | 500         |
| 2024-11-02  | ì „ì     | 800         |
| 2024-11-02  | ì˜ë¥˜     | 600         |




ğŸ”¹ 2) pivot_tableë¡œ ì§‘ê³„ - í‘œ í˜•íƒœë¡œ ë³´ê¸° ì‰½ê²Œ ë‚˜ì—´ ë¨.

sales_data.pivot_table(
    values='total_sales',
    index='date',
    columns='category',
    aggfunc='sum'
)

### <ê²°ê³¼ â€” pivot_table ì¶œë ¥>

| date        | ì „ì | ì˜ë¥˜ |
|-------------|------|------|
| 2024-11-01  | 1000 | 500  |
| 2024-11-02  | 800  | 600  |

In [16]:
sales_pivot_table = sales_data.pivot_table(
    values = 'total_sales',
    index = 'date', # index = í–‰ì„ ì˜ë¯¸í•¨.
    columns= 'category',
    aggfunc= 'sum'
)

sales_pivot_table

category            ê°€êµ¬         ë„ì„œ         ì‹í’ˆ         ì˜ë¥˜          ì „ì
date
2025-11-10  21235266.0   476966.0    35026.0  4676289.0  47429686.0
2025-11-11  19668612.0   198144.0   399209.0  3281556.0  18961138.0
2025-11-12   2353998.0    20843.0    16495.0        NaN  24817914.0
2025-11-13  15206558.0   238869.0  1802055.0   213810.0  82351880.0
2025-11-14         NaN   200112.0  1357215.0  3804026.0  76899133.0
2025-11-15  43081569.0   748344.0   702311.0  3916324.0  30282079.0
2025-11-16   9141304.0  1417152.0  1209126.0   932027.0  11683367.0
2025-11-17  21506855.0   750041.0   665360.0        NaN   1128240.0

In [17]:
Nan_to_Zero = sales_data.pivot_table(
    values = 'total_sales',
    index = 'date', # index = í–‰ì„ ì˜ë¯¸í•¨.
    columns= 'category',
    aggfunc= 'sum',
    fill_value= 0 # Nan -> 0ìœ¼ë¡œ ë°”ê¿”ì¤Œ.
)

Nan_to_Zero

category          ê°€êµ¬       ë„ì„œ       ì‹í’ˆ       ì˜ë¥˜        ì „ì
date
2025-11-10  21235266   476966    35026  4676289  47429686
2025-11-11  19668612   198144   399209  3281556  18961138
2025-11-12   2353998    20843    16495        0  24817914
2025-11-13  15206558   238869  1802055   213810  82351880
2025-11-14         0   200112  1357215  3804026  76899133
2025-11-15  43081569   748344   702311  3916324  30282079
2025-11-16   9141304  1417152  1209126   932027  11683367
2025-11-17  21506855   750041   665360        0   1128240

In [18]:
Nan_to_Zero_2 = sales_pivot_table.fillna(0) # ìœ„ ì½”ë“œì™€ ê°™ì€ ê²°ê³¼ì¸ë°, 'sales_pivot_table'(fill_valueê°€ ì—†ëŠ” pivot_table)ì—ì„œ fillna()ë¥¼ í†µí•´ na -> 0ìœ¼ë¡œ ë°”ê¿” ì¤Œ.

Nan_to_Zero_2

category            ê°€êµ¬         ë„ì„œ         ì‹í’ˆ         ì˜ë¥˜          ì „ì
date
2025-11-10  21235266.0   476966.0    35026.0  4676289.0  47429686.0
2025-11-11  19668612.0   198144.0   399209.0  3281556.0  18961138.0
2025-11-12   2353998.0    20843.0    16495.0        0.0  24817914.0
2025-11-13  15206558.0   238869.0  1802055.0   213810.0  82351880.0
2025-11-14         0.0   200112.0  1357215.0  3804026.0  76899133.0
2025-11-15  43081569.0   748344.0   702311.0  3916324.0  30282079.0
2025-11-16   9141304.0  1417152.0  1209126.0   932027.0  11683367.0
2025-11-17  21506855.0   750041.0   665360.0        0.0   1128240.0

In [19]:
Nan_to_Zero_2.to_csv('sales_pivot.csv') # pivot_tableì„ csvë¡œ ë³€í™˜í•¨. í˜„ì¬ í´ë”ì— csv íŒŒì¼ ìƒì„±ë¨.

## 5. apply()

ê° í–‰(row) ë˜ëŠ” ì—´(column)ì— 'ë‚´ê°€ ë§Œë“  í•¨ìˆ˜'ë¥¼ ì ìš©.

In [20]:
sales_data 

def calculate_discount(row): # í•¨ìˆ˜ ìƒì„±. ë°‘ì— ë³´ë©´ ì•Œê² ì§€ë§Œ, rowì˜ ê´€ì ì—ì„œ ë°”ë¼ë³¸ë‹¤.
    if row['quantity'] >= 10:
        return row['price'] * 0.9
    elif row['quantity'] >= 5:
        return row['price'] * 0.95
    
    return row['price']

sales_data['final_price'] = sales_data.apply(calculate_discount, axis=1) # axis=1ì˜ ì˜ë¯¸ëŠ” í–‰ ë‹¨ìœ„ë¼ëŠ” ëœ»ì´ë‹¤.
sales_data

         date category product  quantity   price  total_sales  final_price
0  2025-11-11       ì „ì     ë…¸íŠ¸ë¶         5  916120      4580600    870314.00
1  2025-11-12       ë„ì„œ   ìê¸°ê³„ë°œì„œ         1   20843        20843     20843.00
2  2025-11-13       ë„ì„œ   ìê¸°ê³„ë°œì„œ        10   12099       120990     10889.10
3  2025-11-16       ë„ì„œ     ë§Œí™”ì±…        18   35655       641790     32089.50
4  2025-11-15       ì‹í’ˆ      ë¼ë©´         3   47165       141495     47165.00
..        ...      ...     ...       ...     ...          ...          ...
95 2025-11-10       ì‹í’ˆ     ìŒë£Œìˆ˜         1   35026        35026     35026.00
96 2025-11-15       ì˜ë¥˜      ëª¨ì         8   48359       386872     45941.05
97 2025-11-10       ì „ì     í‚¤ë³´ë“œ        14  797484     11164776    717735.60
98 2025-11-16       ì‹í’ˆ       ë¹µ        18   39939       718902     35945.10
99 2025-11-13       ê°€êµ¬      ì±…ì¥         6  437497      2624982    415622.15

[100 rows x 7 columns]

In [21]:
sales_data['discount_amount'] = sales_data['price'] - sales_data['final_price']

sales_data

,date,category,product,quantity,price,total_sales,final_price,discount_amount
0,2025-11-11,ì „ì,ë…¸íŠ¸ë¶,5,916120,4580600,870314.00,45806.00
1,2025-11-12,ë„ì„œ,ìê¸°ê³„ë°œì„œ,1,20843,20843,20843.00,0.00
2,2025-11-13,ë„ì„œ,ìê¸°ê³„ë°œì„œ,10,12099,120990,10889.10,1209.90
3,2025-11-16,ë„ì„œ,ë§Œí™”ì±…,18,35655,641790,32089.50,3565.50
4,2025-11-15,ì‹í’ˆ,ë¼ë©´,3,47165,141495,47165.00,0.00
...,...,...,...,...,...,...,...,...
95,2025-11-10,ì‹í’ˆ,ìŒë£Œìˆ˜,1,35026,35026,35026.00,0.00
96,2025-11-15,ì˜ë¥˜,ëª¨ì,8,48359,386872,45941.05,2417.95
97,2025-11-10,ì „ì,í‚¤ë³´ë“œ,14,797484,11164776,717735.60,79748.40
98,2025-11-16,ì‹í’ˆ,ë¹µ,18,39939,718902,35945.10,3993.90
99,2025-11-13,ê°€êµ¬,ì±…ì¥,6,437497,2624982,415622.15,21874.85

â€»cf. axis=1ì´ ì–´ë–¨ ë•ŒëŠ” í–‰ì´ê³ , ì–´ë–¨ ë•ŒëŠ” ì—´ì¸ê°€?

ì´ê±° í—·ê°ˆë¦´ ìˆ˜ê°€ ìˆìŒ.

drop('A', axis=1) -> ì´ê±°ëŠ” axisëŠ” ì—´ ë‹¨ìœ„ì´ê³ ,

apply(func, axis=1) -> ì´ê±°ëŠ” axisëŠ” í–‰ ë‹¨ìœ„ì„.

í—·ê°ˆë¦¬ë©´ ê²€ìƒ‰í•´ì„œ ì•Œì•„ë³¼ ê²ƒ!

# 2ì¼ì°¨

## 1. DB í…Œì´ë¸” ìƒì„±

â€»ì´ ì‘ì—…ì€ phpmyadmin mysqlì—ì„œ ì´ë£¨ì–´ì§.

1. 'test_pipeline' ë°ì´í„°ë² ì´ìŠ¤ ìƒì„±
2. 'sales' í…Œì´ë¸” ìƒì„±


<'sales' table>

CREATE TABLE sales (
    id INT PRIMARY KEY AUTO_INCREMENT,
    date DATE,
    category VARCHAR(50),
    product VARCHAR(100),
    quantity INT,
    price INT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);


â€» 'show create table sales'ë¥¼ í†µí•´, ìœ„ì˜ 'ì „ì²´ ìƒì„± êµ¬ë¬¸'ì„ ë³´ì—¬ì¤Œ.

![](./phase%201-3%20day%202,%202.png) // cf. ì°¸ê³ ë¡œ markdownì—ì„œ ì´ë¯¸ì§€ ì²¨ë¶€ëŠ” ì €ì¥ëœ ì´ë¯¸ì§€ë§Œ ê°€ëŠ¥í•¨.(attach->ë³µë¶™ì€ ë¶ˆê°€ëŠ¥í•˜ë‹¤.)

â€» sql í…Œì´ë¸”(sales) êµ¬ì¡°

![](./phase%201-3%20day%202,%201.png)

## 2. CSV -> DB ì ì¬

In [22]:
New_sales_data = pd.read_csv('./sales_data.csv') # ê¸°ì¡´ì˜ sales_dataëŠ” ì¶”ê°€í•œ ì¹¼ëŸ¼ì´ ìˆì–´ì„œ ìƒˆë¡œ ë§Œë“¦.

New_sales_data

          date category product  quantity   price
0   2025-11-11       ì „ì     ë…¸íŠ¸ë¶         5  916120
1   2025-11-12       ë„ì„œ   ìê¸°ê³„ë°œì„œ         1   20843
2   2025-11-13       ë„ì„œ   ìê¸°ê³„ë°œì„œ        10   12099
3   2025-11-16       ë„ì„œ     ë§Œí™”ì±…        18   35655
4   2025-11-15       ì‹í’ˆ      ë¼ë©´         3   47165
..         ...      ...     ...       ...     ...
95  2025-11-10       ì‹í’ˆ     ìŒë£Œìˆ˜         1   35026
96  2025-11-15       ì˜ë¥˜      ëª¨ì         8   48359
97  2025-11-10       ì „ì     í‚¤ë³´ë“œ        14  797484
98  2025-11-16       ì‹í’ˆ       ë¹µ        18   39939
99  2025-11-13       ê°€êµ¬      ì±…ì¥         6  437497

[100 rows x 5 columns]

In [23]:
import pymysql

try:

    #pymysqlë¡œ DB ì—°ê²° ì‹œë„.
    conn = pymysql.connect(
        host='127.0.0.1',
        user='root',
        password='1234',
        database='test_pipeline'
    )

    print("âœ… MySQL ì—°ê²° ì„±ê³µ!")

    
    cursor = conn.cursor() # ì‹¤í–‰ ì£¼ì²´ì¸ cursor ë“±ì¥!

    #cursor.close() # ë‚˜ì¤‘ì— ì‹¤í–‰ ëë‚˜ë©´ ì—°ê²° ë‹«ì•„ë†“ê¸°
    #conn.close

except Exception as e:
    print(f"âŒ ì—°ê²° ì‹¤íŒ¨: {e}")

âœ… MySQL ì—°ê²° ì„±ê³µ!

In [24]:
# ê¸°ì¡´ ë°ì´í„° ì‚­ì œ(ëˆ„ì ë°ì´í„°ë¥¼ í”¼í•˜ê¸° ìœ„í•¨ì„.)
print("\nğŸ—‘ï¸  ê¸°ì¡´ ë°ì´í„° í™•ì¸ ì¤‘...")
cursor.execute("select count(*) from sales")
#cursor.fetchone() # ì‹¤ì œë¡œ 'fetchone()'ì„ ëŒë ¤ë´ì„œ í™•ì¸ì„ í•˜ëŠ” ì‘ì—…ì„.
existing_count = cursor.fetchone()[0] # 0ë²ˆì§¸ ì¸ë±ìŠ¤ëŠ” 'count'ë¥¼ ì˜ë¯¸í•¨.

if existing_count > 0:
    print(f"âš ï¸  ê¸°ì¡´ ë°ì´í„° {existing_count:,}ê±´ ë°œê²¬!")
    cursor.execute("truncate table sales")
    conn.commit()
    print("âœ… ê¸°ì¡´ ë°ì´í„° ì‚­ì œ ì™„ë£Œ!")
else:
    print("âœ… í…Œì´ë¸”ì´ ë¹„ì–´ìˆìŠµë‹ˆë‹¤.")

ğŸ—‘ï¸  ê¸°ì¡´ ë°ì´í„° í™•ì¸ ì¤‘...
âš ï¸  ê¸°ì¡´ ë°ì´í„° 100ê±´ ë°œê²¬!
âœ… ê¸°ì¡´ ë°ì´í„° ì‚­ì œ ì™„ë£Œ!

In [25]:
print(type(New_sales_data))

<class 'pandas.core.frame.DataFrame'>

In [26]:
print(type(New_sales_data.values))

<class 'numpy.ndarray'>

In [27]:
#ë§ì€ ì–‘ì„ í•œë²ˆì— ì²˜ë¦¬í•˜ëŠ” êµ¬ë¬¸
cursor.executemany(
    "Insert into sales (date, category, product, quantity, price) Values (%s,%s,%s,%s,%s)",
    New_sales_data.values.tolist() # ìœ„ì—ì„œ íƒ€ì…ì„ í™•ì¸í•œ ì´ìœ ëŠ”, 'executemany'ëŠ” dataframe í˜•íƒœë¡œ ë„£ì§€ë¥¼ ëª»í•œë‹¤. list í˜•ì‹ìœ¼ë¡œ ë°”ê¿”ì¤˜ì•¼í•œë‹¤.
    #ê·¸ë¦¬ê³ , ê·¸ëƒ¥ 'tolist()'ë€ ë¬¸ë²•ì€ ì—†ê³ , 'values'ë¥¼ ë„£ì–´ì•¼ í•œë‹¤.
)

conn.commit()

In [28]:
#ì§„í–‰ìƒí™©ë¥  í‘œì‹œê¹Œì§€ êµ¬í˜„_1
from tqdm import tqdm # pythonì—ì„œ ë°˜ë³µ ì‘ì—…(loop)ì˜ ì§„í–‰ ìƒí™©(progress bar)ë¥¼ ì§ê´€ì ì´ê³  ë¹ ë¥´ê²Œ ì‹œê°í™”í•´ì£¼ëŠ” ë¼ì´ë¸ŒëŸ¬ë¦¬

batch_size=1000

for i in tqdm(range(0,len(New_sales_data),batch_size), desc='Batch Inserting'):
    batch = New_sales_data[i:i+batch_size]
    
    cursor.executemany(
        "INSERT INTO sales (date, category, product, quantity, price) VALUES (%s, %s, %s, %s, %s)",
        batch.values.tolist()
    )

    conn.commit()

Batch Inserting: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 238.53it/s]

![](./phase%201-3%20day%202,%203.png)

![](./phase%201-3%20day%202,%204.png)

## 3. DB -> Pandas

In [29]:
DB_to_Pandas = pd.read_sql('select * from sales', conn) # ì—°ê²° ê°ì²´ì¸ 'conn' ê°ì²´ë¥¼ í†µí•´ sqlë¬¸ìœ¼ë¡œ ëª¨ë“  ë°ì´í„°ë¥¼ ì „ë¶€ ê°€ì ¸ì˜¬ ìˆ˜ ìˆìŒ.

DB_to_Pandas

C:\Users\dc\AppData\Local\Temp\ipykernel_38876\744816578.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  DB_to_Pandas = pd.read_sql('select * from sales', conn) # ì—°ê²° ê°ì²´ì¸ 'conn' ê°ì²´ë¥¼ í†µí•´ sqlë¬¸ìœ¼ë¡œ ëª¨ë“  ë°ì´í„°ë¥¼ ì „ë¶€ ê°€ì ¸ì˜¬ ìˆ˜ ìˆìŒ.

      id        date category product  quantity   price          created_at
0      1  2025-11-11       ì „ì     ë…¸íŠ¸ë¶         5  916120 2025-11-19 16:27:29
1      2  2025-11-12       ë„ì„œ   ìê¸°ê³„ë°œì„œ         1   20843 2025-11-19 16:27:29
2      3  2025-11-13       ë„ì„œ   ìê¸°ê³„ë°œì„œ        10   12099 2025-11-19 16:27:29
3      4  2025-11-16       ë„ì„œ     ë§Œí™”ì±…        18   35655 2025-11-19 16:27:29
4      5  2025-11-15       ì‹í’ˆ      ë¼ë©´         3   47165 2025-11-19 16:27:29
..   ...         ...      ...     ...       ...     ...                 ...
195  196  2025-11-10       ì‹í’ˆ     ìŒë£Œìˆ˜         1   35026 2025-11-19 16:27:29
196  197  2025-11-15       ì˜ë¥˜      ëª¨ì         8   48359 2025-11-19 16:27:29
197  198  2025-11-10       ì „ì     í‚¤ë³´ë“œ        14  797484 2025-11-19 16:27:29
198  199  2025-11-16       ì‹í’ˆ       ë¹µ        18   39939 2025-11-19 16:27:29
199  200  2025-11-13       ê°€êµ¬      ì±…ì¥         6  437497 2025-11-19 16:27:29

[200 rows x 7 columns]

In [30]:
# DB -> Pandasì˜ ë˜ë‹¤ë¥¸ ë°©ë²•
cursor.execute("select * from sales")
all = cursor.fetchall()

print(type(all)) # tuple í˜•ì‹.

all_to_dataframe = pd.DataFrame(all, columns=['id','date','category','product','quantity','price','created_at']) # tuple -> Dataframeìœ¼ë¡· ë³€í™˜
all_to_dataframe

<class 'tuple'>

      id        date category product  quantity   price          created_at
0      1  2025-11-11       ì „ì     ë…¸íŠ¸ë¶         5  916120 2025-11-19 16:27:29
1      2  2025-11-12       ë„ì„œ   ìê¸°ê³„ë°œì„œ         1   20843 2025-11-19 16:27:29
2      3  2025-11-13       ë„ì„œ   ìê¸°ê³„ë°œì„œ        10   12099 2025-11-19 16:27:29
3      4  2025-11-16       ë„ì„œ     ë§Œí™”ì±…        18   35655 2025-11-19 16:27:29
4      5  2025-11-15       ì‹í’ˆ      ë¼ë©´         3   47165 2025-11-19 16:27:29
..   ...         ...      ...     ...       ...     ...                 ...
195  196  2025-11-10       ì‹í’ˆ     ìŒë£Œìˆ˜         1   35026 2025-11-19 16:27:29
196  197  2025-11-15       ì˜ë¥˜      ëª¨ì         8   48359 2025-11-19 16:27:29
197  198  2025-11-10       ì „ì     í‚¤ë³´ë“œ        14  797484 2025-11-19 16:27:29
198  199  2025-11-16       ì‹í’ˆ       ë¹µ        18   39939 2025-11-19 16:27:29
199  200  2025-11-13       ê°€êµ¬      ì±…ì¥         6  437497 2025-11-19 16:27:29

[200 rows x 7 columns]

## 4. ì—ëŸ¬ í•¸ë“¤ë§(ìŠ¤í‚µ)

try-except êµ¬ë¬¸ìœ¼ë¡œ êµ¬í˜„í•˜ëŠ” ê±´ë°, ì´ë¯¸ ì „ì— í–ˆìœ¼ë¯€ë¡œ pass.

## 5. ë¡œê¹…(logging)

â€»ë°”ë¡œ ë°‘ì— ìˆëŠ” ì½”ë“œëŠ” 'ì˜ˆì‹œ'ì´ë¯€ë¡œ ì½”ë“œ ì‹¤í–‰í•˜ì§€ëŠ” ë§ ê²ƒ!(ê·¼ë° ì‚¬ì‹¤ ì‹¤í–‰í•´ë„ ìƒê´€ì€ ì—†ìŒ.)

In [31]:
## â€»ì½”ë“œ ì‹¤í–‰ ã„´ã„´
import logging  # logging ë¼ì´ë¸ŒëŸ¬ë¦¬ import

# ê¸°ë³¸ ì„¤ì •
logging.basicConfig(
    filename='sales_data.log',
    filemode='w', # 'w': overwrite ëª¨ë“œ(ë®ì–´ì“°ê¸°), 'a': append(ë’¤ì— ì´ì–´ì„œ ì¶”ê°€í•˜ê¸°)
    format='%(asctime)s - %(levelname)s - %(message)s', # '%(asctime)s':ë¡œê·¸ ë°œìƒ ì‹œê°, '%(levelname)s':ë¡œê·¸ ë ˆë²¨, '%(message)s': ì‹¤ì œ ë¡œê·¸ ë©”ì‹œì§€
    level=logging.DEBUG # ê¸°ë¡í•  ë¡œê·¸ ë ˆë²¨ ê¸°ì¤€. í˜„ì¬ëŠ” Debug ì´ìƒ ëª¨ë‘ ê¸°ë¡.
)

logging.debug("This debug message will now be written to 'sales_data.log'.") # debug ë ˆë²¨ ë©”ì‹œì§€ë¥¼ ê¸°ë¡í•˜ëŠ” ì½”ë“œ

â€»cf. ë¡œê·¸ ë ˆë²¨ì€ ë‹¤ìŒê³¼ ê°™ë‹¤.

DEBUG
INFO
WARNING
ERROR
CRITICAL

â€»ì—¬ê¸°ì„œë¶€í„°, ì½”ë“œ ì‹¤í–‰ ã„±ã„±(ê·¼ë° ì‚¬ì‹¤ ì‹¤í–‰í•´ë„ ìƒê´€ì€ ì—†ìŒ.)

In [32]:
# ì½”ë“œ ì–´ë””ì— ë¡œê·¸ë¥¼ ë„£ì„ê¹Œ?(ë¡œê·¸ë ˆë²¨ ë‹¨ê³„ë³„ë¡œ ë‚˜ë‰¨)
import logging

# 1. ê¸°ë³¸ ì„¤ì •(Info ë‹¨ê³„ì—ì„œì˜)
logging.basicConfig(
    filename='sales_data.log',
    filemode='w',
    format='%(asctime)s - %(levelname)s - %(message)s',
    level=logging.INFO
)

# 2. ì‹¤ì œ ì‚¬ìš©

## 2-1. DB ì—°ê²° ì‹œì‘
logging.info("DB ì—°ê²° ì‹œë„ ì¤‘...")

conn = pymysql.connect(
    host='127.0.0.1',
    user='root',
    password='1234',
    database='test_pipeline'
)

## 2-2. DB ì—°ê²° ì„±ê³µ
logging.info("DB ì—°ê²° ì„±ê³µ!")


## 2-3. ë°ì´í„° ì‚½ì…
rows = New_sales_data.values.tolist()

count_total_rows = len(rows)

cursor.executemany("Insert into sales (date, category, product, quantity, price) Values (%s,%s,%s,%s,%s)", rows)
conn.commit()

logging.info(f"ë°ì´í„° {count_total_rows}ê±´ ì‚½ì… ì™„ë£Œ")

In [33]:
# try-exceptë¬¸ìœ¼ë¡œ ì—ëŸ¬ë¡œê·¸ ê¸°ë¡í•  ìˆ˜ ìˆê²Œ êµ¬ì¡° ë§Œë“¤ê¸°

## 2-1. DB ì—°ê²°
try:
    logging.info("DB ì—°ê²° ì‹œë„ ì¤‘...")

    conn = pymysql.connect(
    host='127.0.0.1',
    user='root',
    password='1234',
    database='test_pipeline'
    )

    ## 2-2. DB ì—°ê²° ì„±ê³µ
    logging.info("DB ì—°ê²° ì„±ê³µ!")

except Exception as e:
    logging.error(f"DB ì—°ê²° ì‹¤íŒ¨: {e}")


## 2-3. ë°ì´í„° ì‚½ì…
try:
    rows = New_sales_data.values.tolist()

    count_total_rows = len(rows)

    cursor.executemany("Insert into sales (date, category, product, quantity, price) Values (%s,%s,%s,%s,%s)", rows)
    conn.commit()

    logging.info(f"ë°ì´í„° {count_total_rows}ê±´ ì‚½ì… ì™„ë£Œ")

except Exception as e:
    logging.error(f"ë°ì´í„° ì‚½ì… ì‹¤íŒ¨: {e}")

## 6. Context Manager

ë¦¬ì†ŒìŠ¤ë¥¼ ìë™ìœ¼ë¡œ ì •ë¦¬í•´ì£¼ëŠ” êµ¬ë¬¸/íŒ¨í„´. ì¦‰, ìë™í™” ê³¼ì •.

In [34]:
from contextlib import contextmanager

@contextmanager # ë°ì½”ë ˆì´í„°(decorator): 'í•¨ìˆ˜'ë‚˜ 'í´ë˜ìŠ¤'ë¥¼ ê¾¸ë©°ì£¼ëŠ” ì—­í• ì´ë¼ê³  í•¨. ì¦‰, contextmanagerê°€ ê¸°ëŠ¥(ë‚´ê°€ ë§Œë“  í•¨ìˆ˜/í´ë˜ìŠ¤)ì„ ì¶”ê°€í•´ì¤Œ.
def my_connection():

    # ì—°ê²° ì—´ê¸°
    conn = pymysql.connect(
        host='127.0.0.1',
        user='root',
        password='1234',
        database='test_pipeline'
    )

    try:
        yield conn # yieldì—ì„œ ì ì‹œ ë©ˆì¶”ê³ , connì„ withì— ë„˜ê¹€. 'ì–‘ë³´í•˜ë‹¤'ì˜ yield ëœ»ì¸ê°€ ë´„.

    except Exception as e:
        logging.error(f"Error: {e}")
        raise

    finally:
        conn.close()

with my_connection() as conn: # connì„ ë°›ì•„ì„œ ì‹¤ì œ ì‘ì—…ì„ í•˜ëŠ” ê³³
    cursor = conn.cursor()
    cursor.execute("select count(*) from sales")
    result = cursor.fetchone()
    print(result)

(200,)

â€»cf. 'raise' ê°œë… ì„¤ëª…

## raiseì˜ ì˜ë¯¸

ì—ëŸ¬ = ê³µ ğŸ¾

- raise ì—†ìŒ: ê³µì„ ì¡ê³  ë ğŸ¤²
- raise ìˆìŒ: ê³µì„ ë‹¤ì‹œ ë˜ì§ ğŸ¾â†’

ì¦‰, except ì•ˆì—ì„œë§Œ ì²˜ë¦¬í•˜ê³  ëë‚¼ì§€, 
ì•„ë‹ˆë©´ í˜¸ì¶œí•œ ìª½ì—ë„ ì•Œë¦´ì§€ ê²°ì •í•˜ëŠ” ê²ƒ!

______________________________________________________________________________________

## raise ìœ ë¬´ ì°¨ì´

**raise ì—†ìœ¼ë©´:**
- ì—ëŸ¬ ë°œìƒ â†’ exceptì—ì„œ ì²˜ë¦¬ â†’ í”„ë¡œê·¸ë¨ ê³„ì† ì‹¤í–‰ âœ…

try:
    print("1")
    x = 1 / 0  # ì—ëŸ¬!
    print("2")  # ì‹¤í–‰ ì•ˆ ë¨
except:
    print("ì—ëŸ¬ ì²˜ë¦¬")
    # raise ì—†ìŒ

print("3")  # âœ… ì‹¤í–‰ë¨!


**ì¶œë ¥:**

1
ì—ëŸ¬ ì²˜ë¦¬
3

_______________________________________________________________________________________

**raise ìˆìœ¼ë©´:**
- ì—ëŸ¬ ë°œìƒ â†’ exceptì—ì„œ ì²˜ë¦¬ â†’ ì—ëŸ¬ ë‹¤ì‹œ ë°œìƒ ğŸ’¥


try:
    print("1")
    x = 1 / 0  # ì—ëŸ¬!
    print("2")  # ì‹¤í–‰ ì•ˆ ë¨
except:
    print("ì—ëŸ¬ ì²˜ë¦¬")
    raise  # ë‹¤ì‹œ ë˜ì§!

print("3")  # âŒ ì‹¤í–‰ ì•ˆ ë¨!


**ì¶œë ¥:**

1
ì—ëŸ¬ ì²˜ë¦¬
ZeroDivisionError: division by zero

_______________________________________________________________________________________

## 'raise'ê°€ ì¼ì–´ë‚˜ë©´ ì—ëŸ¬ë¥¼ 'ìœ„'ë¡œ ë˜ì§„ë‹¤ê³  í•œë‹¤. ê·¸ëŸ¬ë©´ 'ìœ„'ëŠ” ì–´ë””ì¸ê°€?

'ìœ„' = ë‚˜ë¥¼ í˜¸ì¶œí•œ ê³³

**â€»ì¸µìœ¼ë¡œ ìƒê°í•˜ê¸°!**

### 3ì¸µ (ì œì¼ ìœ„)
def main():
    try:
        save_data()  # 2ì¸µ í˜¸ì¶œ
    except:
        print("ë©”ì¸ì—ì„œ ì²˜ë¦¬")

### 2ì¸µ (ì¤‘ê°„)
def save_data():
    with my_connection() as conn:  # 1ì¸µ í˜¸ì¶œ
        cursor.execute("ì—ëŸ¬!")

### 1ì¸µ (ì œì¼ ì•„ë˜)
def my_connection():
    try:
        yield conn
    except Exception as e:
        logging.error(e)
        raise  # 2ì¸µìœ¼ë¡œ ë˜ì§! â†‘

# 3ì¼ì°¨

## 1. í”„ë¡œì íŠ¸ êµ¬ì¡° ì„¤ê³„

â€»ì¢…í•© í”„ë¡œì íŠ¸ë¥¼ ë§Œë“­ë‹ˆë‹¤.
->ì‹œë‚˜ë¦¬ì˜¤: ë§¤ì¼ ì•„ì¹¨ ì‹¤í–‰ë˜ëŠ” ìŠ¤í¬ë¦½íŠ¸ë¡œ ì–´ì œ ë§¤ì¶œ ë¦¬í¬íŠ¸ ìƒì„±


<íŒŒì¼ êµ¬ì¡°>

daily_report/
â”œâ”€â”€ config.py          # DB ì„¤ì •
â”œâ”€â”€ extract.py         # ë°ì´í„° ì¶”ì¶œ
â”œâ”€â”€ transform.py       # ë°ì´í„° ë³€í™˜
â”œâ”€â”€ load.py           # ë°ì´í„° ì €ì¥
â”œâ”€â”€ main.py           # ë©”ì¸ ì‹¤í–‰
â””â”€â”€ logs/             # ë¡œê·¸ í´ë”

í•´ë‹¹ ì‘ì—…ì€, 'daily_report' í´ë”ì—ì„œ ì´ë£¨ì–´ì§‘ë‹ˆë‹¤.